<section style="background: #fafafa;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>About us</li>
                    </ul>
                </div>
                <h1 class="heading">About - IT Jobs Board</h1>
                <p class="lead text-center">
                    We aggregate all the online IT jobs in the European Union. We search the web for you for finding the jobs located in European Union.
                    You can choose to work remotely or to relocate in the job country if you are an european citizen.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The internet revolution</h2>
                <blockquote>
                    <p><strong>This is the digital age.</strong> It brings its own challenges, not least the skills needed to survive and get ahead in the modern workplace.
                    <p>Demand for digitally competent professionals across all economic sectors <em>continues to grow</em> and is outstripping supply.</p>
                    <p>As a sector, <code>ICT</code> is growing rapidly and creating about 120,000 new jobs each year. But due to differences in demands and skills, and despite high unemployment - especially among the young – Europe could face a shortage of up to 900,000 skilled ICT workers by 2020.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section style="background-image: url('assets/ux/startup.jpg');" class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! <a href="/#jobs" class="btn btn-white">See our job offers</a></p>
            </div>
        </div>
    </div>
</section>
