<section class="job-form-section job-form-section--image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="job-form-box">
                    <h1 class="heading">Find a <span class="accent">job</span> you will <span class="accent">love</span>.</h1>
                    <form id="job-main-form" method="get" action="#" class="job-main-form">
                        <div class="controls">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="profession">Profession</label>
                                        <input type="text" id="profession" name="profession" placeholder="Profession you are looking for" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" id="location" name="location" placeholder="Any particular location?" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <a href="/#jobs" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background: #fafafa;">
    <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured same-height-row">
            <div class="col-md-4">
                <div class="box-image-text bg-visible same-height">
                    <div class="top"><a href="detail.html">
                        <div class="image"><img src="assets/ux/featured1.jpg" alt="" class="img-responsive"></div>
                        <div class="bg"></div>
                        <div class="logo"><img src="assets/ux/airbnb.png" alt="" style="max-width: 80px;"></div></a></div>
                    <div class="content">
                        <h5><a href="detail.html">Software Engineer</a></h5>
                        <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Dublin<span class="label featured__label label-success">Full Time</span></p>
                        <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-image-text bg-visible same-height">
                    <div class="top"><a href="detail.html">
                        <div class="image"><img src="assets/ux/featured2.jpg" alt="" class="img-responsive"></div>
                        <div class="bg"></div>
                        <div class="logo"><img src="assets/ux/google.png" alt="" style="max-width: 80px;"></div></a></div>
                    <div class="content">
                        <h5><a href="detail.html">Customer support</a></h5>
                        <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Brussels<span class="label featured__label label-success">Full Time</span></p>
                        <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-image-text bg-visible same-height">
                    <div class="top"><a href="detail.html">
                        <div class="image"><img src="assets/ux/featured3.jpg" alt="" class="img-responsive"></div>
                        <div class="bg"></div>
                        <div class="logo"><img src="assets/ux/dropbox.png" alt="" style="max-width: 80px;"></div></a></div>
                    <div class="content">
                        <h5><a href="detail.html">Graphic designer</a></h5>
                        <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Europe<span class="label featured__label label-default">Part Time</span></p>
                        <p>Fifth abundantly made Give sixth hath. Cattle creature i be dont them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center margin-top"><a href="#jobs" class="btn btn-ghost">See more jobs</a></div>
    </div>
</section>