<section style="background: #fafafa;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>About us</li>
                    </ul>
                </div>
                <h1 class="heading">Privacy policy - IT Jobs Board</h1>
                <p class="lead text-center">
                    This is the Privacy Policy for our desktop and mobile applications stored in Microsoft Store, Apple App Store and Google Play!
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Privacy Policy</h2>
                <blockquote>
                    <p><strong>Personal information</strong></p>

                    <p>This application does not collect or transmit any user's personally identifiable information. No personal information is used, stored, secured or disclosed by services this application works with.</p>

                    <p><strong>Technical information</strong></p>

                    <p>Limited technical information is sent (such as IP addresses included in the HTTP calls the application makes) but none of that is used or stored.</p>

                    <p><strong>Statistical information</strong></p>

                    <p>A small set of non-identifiable information is sent to one or more of the organisations below for statistical information about app usage, device type and capabilities.</p>

                    <p><strong>Third parties</strong></p>

                    <p>If the app makes use of third party services, their usage of information is excluded from this privacy policy. You will be clearly made aware of the third parties involved in the app and we will ensure the very minimal set of data is set to those third parties.</p>

                    <p><strong>Report violations or get more information</strong></p>

                    <p>If you would like to report any violations of this policy or get more information on any app, please contact us using the contact form.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section style="background-image: url('assets/ux/startup.jpg');" class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! <a href="/#jobs" class="btn btn-white">See our job offers</a></p>
            </div>
        </div>
    </div>
</section>
